body {
  background-color: #55efc4;
  margin: 20px;
}
header {
  height: 100px;
  background-color: olivedrab;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
header a {
  float: left;
  text-decoration: none;
  margin-left: 20px;
  color: white;
}
header a:hover {
  color: rgb(206, 3, 54);
}
.middle-part {
  overflow: hidden;
}
.middle-left {
  height: 600px;
  background-color: #a29bfe;
  width: 29%;
  float: left;
  text-align: center;
}
.middle-right {
  height: 600px;
  background-color: rgb(29, 131, 199);
  width: 70%;
  float: right;
  text-align: center;
}
.middle-right-top {
  height: 40%;
}
.middle-right-bottom {
  height: 40%;
}
.image1 {
  background-color: salmon;
  width: 32%;
  height: 100%;
  float: left;
  margin-left: 15px;
}
.image2 {
  background-color: seagreen;
  width: 32%;
  height: 100%;
  float: left;
  margin-right: 9px;
  margin-left: 11px;
}
.image3 {
  background-color: slateblue;
  width: 32%;
  height: 100%;
  float: right;
  margin-right: 15px;
}
footer {
  background-color: slategray;
  height: 100px;
  text-align: center;
  color: white;
}
